*{ padding:0; margin:0; }
span{
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center
}
#contenedor{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(7, 1fr);
    grid-gap:1px;
    width:400px;
    height:400px;
    background:rgb(30, 30, 30, 1);
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%, -70%);
    padding:20px 1px;
    border-radius:8px;
    box-shadow:0px 0px 15px #fff;
    z-index:0;
}
#imprenta_1{
    background:#ddd;
    width:90%;
    height:80px;
    border:solid #000 6px;
    grid-area:1/1/2/5;
    border-radius:0px;
    color:#000;
    text-align:right;
    font-family:arial;
    font-size:2em;
    display:flex;
    flex-direction:column;
}
aside{
    display:flex;
    width:100%;
    height:33%;
    font-size:0.5em;
    align-items:flex-start;
    justify-content:flex-start
}
article{
    display:flex;
    width:100%;
    height:66%;
    font-size:1em;
    justify-content:flex-end;
    align-items:flex-end;
}
div, button{
    width:60%;
    height:80%;
    margin:auto;
    border-radius:50px;
    background:#444;
    color:#fff;
    cursor:pointer;
    font-size:1.2em;
}
button:hover{
    background:#666;
}
#cero{
    width:90%;
    grid-area:7/2/7/4;
}
#alone{
    width:100%;
    height:100%;
    border-radius:0px;
    background:none;
    grid-area:2/1/3/5
}
.operacion, #d:hover{ background:#ff8000 }
.operacion:hover{ background:#ffa222 }
.c{ background:#f44 }

@media only screen and (max-width: 430px){
    #contenedor{
        width:300px;
        height:350px;
    }
    #imprenta_1{
        font-size:1.7em;
    }
}
@media only screen and (max-width: 330px){
    #contenedor{
        width:280px;
        font-size:1.0em;
    }
    #imprenta_1{
        font-size:1.6em;
    }
}
@media only screen and (max-width: 300px){
    #contenedor{
        width:250px;
        height:300px;
        font-size:0.8em;
    }
    #imprenta_1{
        font-size:1.5em;
        height:70px
    }
}
@media only screen and (max-width: 280px){
    #contenedor{
        width:230px;
        height:280px;
    }
    #imprenta_1{
        font-size:1.4em;
        height:60px
    }
}
@media only screen and (max-width: 250px){
    #contenedor{
        width:200px;
        height:250px;
        font-size:0.7em;
    }
    #imprenta_1{
        font-size:1.3em;
        height:45px
    }
}
@media only screen and (max-width: 220px){
    #contenedor{
        width:170px;
        height:210px;
        font-size:0.5em;
    }
    #imprenta_1{
        font-size:1.2em;
        height:35px
    }
}
#header{
    position:relative;
    width:100vw;
    top:-90%;
    height:100vh;
    background-color: rgb(50, 50, 50, 1);
    position:relative;
    z-index:2;
    transition: .3s all ease;
}
#icon-dad{
    width:55px;
    height:55px;
    background-color: rgb(30, 30, 30, 1);
    position:fixed;
    top:1.5%;
    left:1%;
    transform:translate(-2%, -2%);
    border-radius:5px;
}
#content{
    background:none;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#eee;
    visibility: hidden;
}
#content > section{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80vw;
    height:auto;
}
hr{border:1px solid #fff;}
#hr_1{
    position:relative;
    left:30%;
    width:6vmin;
    margin-top:18%;
    border-radius:5px;
    transition: .2s all ease;
}
#hr_2{
    position:relative;
    left:30%;
    width:6vmin;
    margin-top:18%;
    border-radius:5px;
    visibility:visible;
    transition: .1s all ease;
}
#hr_3{
    position:relative;
    left:30%;
    width:6vmin;
    margin-top:18%;
    border-radius:5px;
    transition: .2s all ease;
}
h1, ol, li, p{
    color:#eee;
    width:40vmax;
}
h1{
    font-family:Arial;
    font-size:5vmin;
    margin:auto;
    text-align:center;
    text-decoration:underline;
}
ol{ margin:auto }
p{
    width:100%;
    font-size:4vmin;
    font-style:italic;
}
li{
    font-family:Times New Roman;
    font-size:3vmin;
    margin-left:1vw;
    width:39vw;
}